/.local/
/.org-id-locations
/auto-save-list/
/bookmarks
/eln-cache/
/elpa/
/forge-database.sqlite
/persp-confs/
/projectile-bookmarks.eld
/projects
/straight/
/transient/
/tree-sitter/
/places
/url/
/nov-places
/forge-database-v11-20240203-2345.sqlite
/recentf
history
/forge-database-v12-20240322-2253.sqlite
custom.el
newsticker
tldr
devdocs
request
*.cache
ebdb
diary
speed-type
tramp
nix-buffer
flycheck_*.el
smudge
irony
org-clock-save.el
*.csv
